/*:root {*/
/*    when need to use global root variable*/
/*}*/

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;  
    /*TODO: Only for dev step to allow click on page, need to remove in production */
}